@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  overflow-x: hidden;
}

.mb-15 {
  margin-bottom: 15px;
}

.pt-30 {
  padding-top: 30px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.bread-crumb {
  line-height: 20px;
  background: #ffb52b;
}

.bread-crumb ol li a {
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header {
  background-size: 100%;
  background-repeat: no-repeat;
}

.header .info {
  padding: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .info h1 a {
  color: white;
  font-weight: 500;
  font-size: 5rem;
  text-decoration: none;
}

.header .info p {
  color: white;
}

nav {
  height: 70px;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  margin-top: -15px;
}

nav .nav-container {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

nav .nav-container ul {
  float: left;
  margin-bottom: 0px;
}

nav .nav-container ul li {
  display: inline-block;
}

nav .nav-container ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  z-index: 99;
}

nav .nav-container ul li a {
  color: black;
  display: block;
  padding: 0 15px;
  -webkit-transition: .5s;
  transition: .5s;
}

nav .nav-container ul li a:hover, nav .nav-container ul li a.active {
  color: #c7c5bf;
  text-decoration: none;
}

nav .nav-container ul ul {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

nav .nav-container ul ul li {
  width: 150px;
  display: list-item;
  position: relative;
  background: black;
  list-style: none;
  z-index: 99;
}

nav .nav-container ul ul li a {
  line-height: 40px;
  color: white;
}

nav .nav-container ul ul li a i {
  margin-left: 55px;
}

nav .nav-container ul ul ul {
  border-top: none;
}

nav .nav-container ul ul ul li {
  position: relative;
  top: -70px;
  left: 150px;
  list-style: none;
}

nav .nav-container .social {
  padding: 0 15px;
  font-size: 0.9rem;
  margin-bottom: 0px;
}

nav .nav-container .social a i {
  margin-right: 10px;
  color: #6b6961;
  text-decoration: none;
}

nav .nav-container .social a i:hover {
  color: #999;
}

@media (max-width: 991.98px) {
  .social {
    visibility: hidden;
    width: 0px;
  }
}

@media (max-width: 600.98px) {
  nav .nav-items li a,
  nav .nav-items li ul li a {
    font-size: 12px;
  }
  nav .nav-container ul li a {
    padding: 0 10px;
  }
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 99999;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar .facebook {
  background: #3B5998;
  color: white;
}

.icon-bar .twitter {
  background: #55ACEE;
  color: white;
}

.icon-bar .google {
  background: #dd4b39;
  color: white;
}

.icon-bar .linkedin {
  background: #007bb5;
  color: white;
}

.icon-bar .youtube {
  background: #bb0000;
  color: white;
}

@media (max-width: 575.98px) {
  .icon-bar a {
    font-size: 0.7rem;
  }
}

.video-js .vjs-big-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
}

.vjs-mouse.bc-player-default_default .vjs-progress-control {
  margin-top: 15px;
  height: 100% !important;
}

.bc-player-default_default .vjs-time-control {
  display: none;
}

.section-wrapper1 {
  position: relative;
  margin-top: 280px;
  padding: 20px;
  padding: 20px;
}

.section-wrapper1 p {
  line-height: 25px;
  font-size: 0.9rem;
  margin-top: 15px;
  text-align: justify;
}

.section-wrapper1 h2 {
  text-align: justify;
}

.section-wrapper1 .small {
  font-weight: 1000;
  font-size: 0.7rem;
}

.section-wrapper1 .timestamp {
  padding: 10px;
  font-weight: 1000;
  font-size: 0.7rem;
  color: #999;
}

.topic {
  padding: 5px 0;
  border-bottom: solid 1px black;
  font-weight: bold;
  position: relative;
  margin-bottom: 8px;
}

.topic:after {
  content: '';
  border-bottom: solid 3px black;
  width: 100%;
  position: absolute;
  bottom: -6px;
  left: 0;
}

.topic h1 {
  text-transform: uppercase;
}

.content-media--video {
  background-color: #ddd;
  display: block;
  position: relative;
  padding: 0 0 56.25% 0;
}

.content-media--video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

#featured-video {
  -webkit-transition: width .2s ease-in-out, height .2s ease-in-out, -webkit-transform .38s ease-in-out;
  transition: width .2s ease-in-out, height .2s ease-in-out, -webkit-transform .38s ease-in-out;
  transition: width .2s ease-in-out, height .2s ease-in-out, transform .38s ease-in-out;
  transition: width .2s ease-in-out, height .2s ease-in-out, transform .38s ease-in-out, -webkit-transform .38s ease-in-out;
}

#featured-video.is-sticky {
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;
  max-width: 280px;
  max-height: 158px;
  width: 280px;
  height: 158px;
}

.ml-15 {
  margin-left: 15px;
}

.image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.image-head img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.split-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15px;
  padding-bottom: 30px;
}

.split-news .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #dce0e6;
}

.step-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  margin-top: 15px;
}

.step-wrapper:hover {
  background: #2a2b2e;
  color: white;
}

.step-wrapper .num {
  padding: 10px;
  margin-right: 15px;
  border: 1px solid black;
  background: white;
  font-weight: 1000;
}

.step-wrapper:hover > div .num {
  background-color: white;
  color: black;
}

.comment-section {
  position: relative;
}

.comment-container {
  position: relative;
  max-width: 700px;
  margin-top: 25px;
  overflow: hidden;
}

.comment-container .comment-info {
  position: absolute;
  top: 10px;
  left: 10px;
}

.comment-container .comment-info .avatar {
  border-radius: 50%;
  width: 40px;
}

.comment-container .comment-info .name {
  margin-left: 5px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  display: inline-block;
  color: black;
  font-weight: 1000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.comment-container .placeholder {
  position: absolute;
  top: 50%;
  font-size: 18px;
  color: #999999;
  left: 60px;
  margin-top: -15px;
}

.comment-container textarea {
  height: 70px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
}

.comment-container .btns {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: black;
}

.comment-container .btns .btn {
  color: white;
}

.comment-container.toggled .comment-info .name {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.comment-container.toggled textarea {
  height: 200px;
  color: #444;
  padding-top: 60px;
  padding-bottom: 40px;
}

.comment-container.toggled .placeholder {
  display: none;
}

.comment-container.toggled .btns {
  opacity: 1;
  visibility: visible;
}

.sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.get-in-touch {
  position: relative;
}

.contact-form .form-field {
  position: relative;
  margin: 27px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.section-wrapper .step-body p {
  line-height: 25px;
  font-size: 1rem;
}

.section-wrapper .small {
  font-weight: 1000;
  font-size: 0.7rem;
}

.section-wrapper .timestamp {
  padding: 10px;
  font-weight: 1000;
  font-size: 0.7rem;
  color: #999;
}

@media (max-width: 767.98px) {
  .split-news .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: initial;
        flex-wrap: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

footer {
  color: black;
  background: #cfc8c8;
}

footer .footer-container {
  padding: 15px;
}

footer .footer-container p {
  line-height: 25px;
}

footer .footer-container .segment-one h2,
footer .footer-container .segment-two h2,
footer .footer-container .segment-three h2,
footer .footer-container .segment-four h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 10px;
}

footer .footer-container .wrapper .button {
  height: 40px;
  width: 40px;
  overflow: hidden;
  background: #cfc8c8;
  border-radius: 50%;
}

footer .footer-container .wrapper .button:hover .icon i {
  color: #fff;
}

footer .footer-container .wrapper .button span:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

footer .footer-container .wrapper .button .icon {
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 40px;
}

footer .footer-container .wrapper .button .icon i {
  font-size: 16px;
  line-height: 40px;
}

footer .footer-container .wrapper .button .icon span {
  position: absolute;
  padding-left: 17px;
}

footer .footer-container .wrapper .button:nth-child(1) .icon:hover {
  background: #4267B2;
}

footer .footer-container .wrapper .button:nth-child(2) .icon:hover {
  background: #1DA1F2;
}

footer .footer-container .wrapper .button:nth-child(3) .icon:hover {
  background: #E1306C;
}

footer .footer-container .wrapper .button:nth-child(4) .icon:hover {
  background: #ff0000;
}

footer .footer-container .segment-two ul,
footer .footer-container .segment-three ul,
footer .footer-container .segment-four ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .footer-container .segment-two ul li,
footer .footer-container .segment-three ul li,
footer .footer-container .segment-four ul li {
  border-bottom: 1px solid black;
  line-height: 40px;
}

footer .footer-container .segment-two ul li a,
footer .footer-container .segment-three ul li a,
footer .footer-container .segment-four ul li a {
  text-decoration: none;
  color: black;
}

footer .footer-container .segment-two ul li a:hover,
footer .footer-container .segment-three ul li a:hover,
footer .footer-container .segment-four ul li a:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  width: 100%;
}

footer .footer-bottom h2 {
  font-size: 50px;
  width: 50%;
}

footer .footer-bottom p {
  width: 50%;
  text-align: right;
}

@media only screen and (max-width: 1024.98px) {
  .md-mb-30 {
    margin-bottom: 30px;
    padding: 0px;
  }
}

@media only screen and (max-width: 767.98px) {
  .sm-mb-30 {
    margin-bottom: 30px;
  }
}

.search-button {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.search-button a:hover {
  color: transparent;
}

.search-toggle::before {
  color: #000;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 20px;
}

.search-toggle.active::before {
  color: #000;
  content: "";
  font-size: 20px;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}

.search-input:focus {
  outline: none;
}

#search-bar-box {
  border-bottom: 2px solid #000;
}

#search-bar-box .search-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#search-bar-box .search-box .search-input {
  width: 100%;
  height: 100%;
  padding: 0 1em;
  border: 0;
  background-color: transparent;
  opacity: 0;
  color: #fff;
}

#search-bar-box .search-box .search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

#search-bar-box.show .search-box {
  min-height: 100px;
}

#search-bar-box.show .search-box .search-input {
  opacity: 1;
}

.mobile-nav {
  margin-top: -15px;
}

.mobile-nav nav {
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto !important;
  margin-top: 0px;
  border-bottom: 2px solid #000;
  z-index: 999;
}

.mobile-nav nav .navbar-collapse {
  background: #fff;
}

.mobile-nav nav .dropdown-menu {
  border: transparent;
  margin: 0px;
  padding: 0px;
}

.mobile-nav nav .dropdown-item {
  padding: 8px 1.5rem;
}

.mobile-nav nav .sub-dropdown-link {
  padding: .25rem 1.5rem;
}

.mobile-nav nav .sub-dropdown-menu {
  padding: .25rem 1.5rem;
}

.mobile-nav nav.navbar-light .navbar-toggler {
  color: black;
  border-color: transparent;
  outline: none;
}

.mobile-nav nav.navbar-light .navbar-nav .active > .nav-link,
.mobile-nav nav.navbar-light .navbar-nav .nav-link.active,
.mobile-nav nav.navbar-light .navbar-nav .nav-link.show,
.mobile-nav nav.navbar-light .navbar-nav .show > .nav-link {
  color: #c7c5bf;
}

.mobile-nav nav.navbar-light .navbar-nav .nav-link {
  color: #000;
}

@media (max-width: 767.98px) {
  .section-wrapper1 {
    margin-top: 30px;
  }
  .mobile-md-mt-30 {
    margin-top: 30px;
  }
}

.mobile-search-form {
  background: #000;
  margin: 8px 0px;
}

.mobile-search-form .btn i {
  color: #fff;
  font-size: 20px;
}

.mobile-search-form ::-webkit-input-placeholder {
  color: #adadad;
}

.mobile-search-form .btn {
  width: 70px;
}

.mobile-search-form .form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 0px 20px;
  font-size: 18px;
  line-height: initial;
  color: #fff;
  background-color: #000 !important;
  height: 40px;
  border: transparent !important;
  border-right: 1px solid #fff !important;
  border-radius: 0px !important;
}

@media (max-width: 767.98px) {
  .step-body.ml-15 {
    margin-left: 0px;
    padding: 15px;
  }
}
/*# sourceMappingURL=details.css.map */